/*
    global container
*/
.l-container {
    margin: 0 auto;
    width: 90%;
}

/*
    header layout
*/
.l-header {
    align-items: center;
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.l-header-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

/*
    card layout
*/
.l-card-container {
    display: flex;
    flex-wrap: wrap;
}
.l-card-section {
    margin: 70px 0;
}

/*
    card layout
*/
.l-product-container {
    width: 45%;
}