.l-container {
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.l-header {
    align-items: center;
    background-color: var(--primary);
    display: flex;
    height: 60px;
    flex-wrap: wrap;
    padding: 10px 0;
}
.l-header-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}