.u-border {
    border: 1px solid red;
}
.u-align-flex-end {
    justify-content: end;
}
.u-justify-content-between {
    justify-content: space-between;
}
.u-color-white {
    color: var(--white);
}
.u-mt-10 {
    margin-top: 10px;
}